<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moish.aplication_2_forCarRent">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.moish.aplication_2_forCarRent.controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

      <!--  <receiver
            android:name=".controller.fragments.All_Branches$myReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.moish.aplication_2_forCarRent.UPDATE" />
            </intent-filter>
        </receiver>-->

        <service
            android:name=".model.backend.MyService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.moish.aplication_2_forCarRent.SERVICE_UPDATE" />
            </intent-filter>
        </service>





    </application>

</manifest>